html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 500px;
}

body {
    background-color: #222;
}

div.header {
    position: relative;
    background-color: #fff;
    height: 50%;
}

div.header h1 {
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
}

div.header h1 img {
    display: block;
    width: 400px;
    max-width: 75%;
    margin: 0 auto;
    transform: translate(0, 50%);
}

div.content {
    margin-top: 200px;
    padding: 25px;
}

ul.socialmedia {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

ul.socialmedia li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.socialmedia li + li {
    margin-left: 10px;
}

ul.socialmedia img {
    width: 48px;
    border: none;
}

@media only screen and (max-width: 350px) {
    div.header {
        position: static;
        height: auto;
    }

    div.header h1 {
        position: static;
    }
    
    ul.socialmedia {
        position: static;
        margin-bottom: 25%;
    }
    
    ul.socialmedia li {
        display: block;
    }

    ul.socialmedia li + li {
        margin-left: 0;
        margin-top: 10%;
    }

    ul.socialmedia img {
        width: 50%;
        border: none;
    }
}